<a href="https://colab.research.google.com/github/Jashhhsblog/ProjectinGit/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to print the following string in a specific format
Sample String : "Twinkle, twinkle, little star, How I wonder what you are! Up above the world so high, Like a diamond in the sky. Twinkle, twinkle, little star, How I wonder what you are" 

Output : 
Twinkle, twinkle, little star,
	      How I wonder what you are! 
		              Up above the world so high,   		
		              Like a diamond in the sky. 
  Twinkle, twinkle, little star, 
	       How I wonder what you are

In [ ]:
print('Twinkle, twinkle, little star,')
print('         How I wonder what you are!')
print('                Up above the world so high,')
print('                Like a diamond in the sky.')
print('Twinkle, twinkle, little star,')
print('         How I wonder what you are')

Twinkle, twinkle, little star,
         How I wonder what you are!
                Up above the world so high,
                Like a diamond in the sky.
Twinkle, twinkle, little star,
         How I wonder what you are

2. Write a Python program which accepts the radius of a circle from the user and compute the area.

In [ ]:
radius = float(input("Enter radius of circle"))
area = 3.14*radius*radius
print("area of circle is "+str(area))

Enter radius of circle25
area of circle is 1962.5

3. Display three string “Name”, “Is”, “James” as “Name ** Is ** James”
Use the print() function to format the given words in the mentioned format. Display the ** separator between each string.
Sample output: Name ** Is ** James

In [ ]:
print("Name","Is","James",sep="**")

Name**Is**James

4. Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '$', except the first char itself. Sample String : 'restart'

In [ ]:
string = input("Enter a string : ")
char = string[0]
length = len(string)
string = string.replace(char, '$')
string = char + string[1:]
print(string)

Enter a string : restart
resta$t

5. Write a Python program to get a single string from two given strings, separated by a space and swap the first two characters of each string. Sample String : 'abc', 'xyz' 
Expected Result : 'xyc abz'

In [ ]:
string1=input("Enter first string : ")
string2 = input("Enter second string : ")
string = string2[:2]+string1[2:]+" "+string1[:2]+string2[2:]
print(string)

Enter first string : xyz
Enter second string : abc
abzxyc

6. Write a Python program to get a single string from two given strings, separated by a space and swap the first two characters of each string.

7. Write a Python program to remove the characters which have odd index values of a given string.

In [ ]:
str1=input("Enter string : ")
string=""
for i in range(len(str1)):
    if(i%2==0):
      string = string+str1[i]
print(string)

Enter string : jashuu
jsu

8. Write a Python script to add a key to a dictionary.

In [ ]:
dict =  {1:20,2:30,3:40,4:50}
dict.update({7:80})
print(dict)

{1: 20, 2: 30, 3: 40, 4: 50, 7: 80}

9. Write a Python script to concatenate following dictionaries to create a new one. 
Sample Dictionary : 
dic1={1:10, 2:20} 
dic2={3:30, 4:40} 
dic3={5:50,6:60}

In [ ]:
dic1={1:10, 2:20} 
dic2={3:30, 4:40} 
dic3={5:50,6:60}
dic1.update(dic2)
dic1.update(dic3)
print(dic1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

10. Write a Python script to check whether a given key already exists in a dictionary

In [ ]:
dict={1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
i = int(input("Enter key :"))
if i in dict:
  print("Key is present")
else:
  print("Key isnt present")

Enter key :7
Key isnt present

11. Write a Python program to create a tuple with numbers and print one item

In [ ]:
tuple1=(2,3,4,7,'hi',9)
print(tuple1[:1])

(2,)

12. Write a Python program to get the 4th element and 4th element from last of a tuple

In [ ]:
tuple1=(2,3,4,7,'hi',9)
print((tuple1[3]) )
print((tuple1[-4]))

7
4

13. Write a Python program to convert a list to a tuple.

In [49]:
list1 = [2,4,6,8,10,12,14]
tuple1 = tuple(list1)
print(tuple1)

TypeError: ignored

14. Write a Python program to calculate the average value of the numbers in a given tuple of tuples.

In [50]:
tuple1=((10,20),(30,40),(50,60))
result=[]
for i in tuple1:
  avg = sum(i)/len(i)
  result.append(avg)
result = tuple(result)
print(result)

TypeError: ignored